@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    --fonte-primaria: "Do Hyeon","sans-serif" ;
    --fonte-secundaria: "Lato","sans-serif" ;
    --cor-Fprimaria: #cccccc;
    --cor-Fsecundaria: #afafaf;
    --cor-Ffooterheader: #ffffff;
    --cor-body: #0a0a0c;
    --cor-footerheader: #111114;
    --cor-hover: #18181d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-secundaria);
}

body{
    height: 100%;
    background-color: var(--cor-body);
}

.icon{
    filter: invert(100%);
}

header{
    background-color: var(--cor-footerheader);
}

.cabecalho{
    display: flex;
    justify-content: center;
}

.cabecalho__menu{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    padding: 1%;

}

.cabecalho__menu__link{
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--cor-Ffooterheader);
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}
.cabecalho__menu__link--underline{
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--cor-Ffooterheader);
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    text-decoration: none;
    border-bottom: 3px solid var(--cor-Ffooterheader);
}

.apresentacao{
    display: flex;
    padding: 5% 10%;
    gap: 5.3rem;
}

.apresentacao__texto{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.apresentacao__texto__titulo{
    color: var(--cor-Fprimaria);
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
    font-weight: 600;
}

.apresentacao__texto__paragrafo{
    color: var(--cor-Fsecundaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
    color: var(--cor-Fprimaria);
}

.apresentacao__links__texto{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__click{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    width: 50%;
    padding: 0.5rem 1rem;
    gap: 5%;
    border-radius: 8px;
    border: 2px solid;
    border-color: var(--cor-Ffooterheader);
    color: var(--cor-Ffooterheader);
    text-decoration: none;
}

.apresentacao__links__click:hover{
    background-color: var(--cor-hover);
}

.apresentacao__lista{
    display: flex;
    flex-direction: column;
    padding-left: 7% ;
    list-style: disc;
}

.apresentacao__lista__item{
    display: list-item;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    color: var(--cor-Fsecundaria);
}

.apresentacao__projetos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.apresentacao__projetos__item{
    width: 300px; 
    height: 200px;
    border-radius: 8px;
}

.apresentacao__imagem{
    display: block;
    width: 400px;
    height: 400px;
    border-radius: 1rem;
}

footer{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
    padding: 0.6rem 0 0.6rem 0;
    background-color: var(--cor-footerheader);
}

.rodape__texto{
    color: var(--cor-Ffooterheader);
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
}

.rodape__logo-alura{
    width: 130px;
    filter: brightness(100)
}

@media (max-width: 1024px) {
    .cabecalho{
        padding: 5% 2%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        align-items: center;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    .apresentacao__imagem{
        width: 18.1rem;
        height: 18.1rem;
    }
    .apresentacao__links{
        padding: 5% 0 5% 0;
    }
    .apresentacao__links__click{
        padding: 0.7rem 1.7rem;
    }
    .apresentacao__projetos{
        align-items: center;
        flex-direction: column;
        gap: 24px;
    }
}
