@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    --background: "./assets/background1.jpg";
    --fonte-primaria: "Do Hyeon","sans-serif" ;
    --fonte-secundaria: "Lato","sans-serif" ;
    --cor-Fprimaria: #595957;
    --cor-Fsecundaria: #8C8C88;
    --cor-Ffooterheader: #000000;
    --cor-body: #F2F2EB;
    --cor-footerheader: #D9D9D2;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Lato", "sans-serif";
}
body{
    background-color: var(--cor-body);
    
}
header{
    background-color: var(--cor-footerheader);
}
.cabecalho{
    display: flex;
    justify-content: center;
}   
.cabecalho__menu{
    display: flex;
    flex-direction: row;
    padding: 0.5%;
    gap: 2.5rem;
    align-items: center;
}
.cabecalho__menu__link{
    display: flex;
    align-items:  center;
    font-size: 1rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-Ffooterheader);
    text-decoration-style: solid;
}
.apresentacao{
    display: flex;
    align-items: center;
    padding: 5% 10%;
    gap: 5.3rem;
}
.apresentacao__texto{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.apresentacao__texto__titulo{
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
    color: var(--cor-Fprimaria);
}
.apresentacao__texto__paragrafo{
    font-family: var(--fonte-secundaria);
    color: var(--cor-Fsecundaria);
    font-size: 1.5rem;
}
.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    color: var(--cor-Fprimaria);
}
.apresentacao__links__texto{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__click{
    display: flex;
    font-size: 1.5rem;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    gap: 5%;
    border: 2px solid;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-color: var(--cor-Ffooterheader);
    color: var(--cor-Ffooterheader);
}
.apresentacao__imagem{
    display: block;
    width: 50%;
    border-radius: 1rem;
}
footer{
    background-color: var(--cor-footerheader);
}
.rodape__texto{
    padding: 0.5%;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    color: var(--cor-Ffooterheader);
    text-align: center;
}
@media (max-width: 1200px) {
    .cabecalho{
        padding: 5% 2%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    .apresentacao__imagem{
        width: 18.1rem;
    }
}